
  <div class = "horo1"> 
      <div class = "horolog"<h1>HOROSCOPES</h1></div>
  <form id="form" action="/signup" method="POST">
    <label for="username">Username</label><br>
    <input type="text" name="username"
      placeholder="username">

    <br><br>
    <label for="password">Password</label><br>
    <input type="password" name="password"
      placeholder="password">
    <br><br>

    <div class="form-group">
      <label for="sign">SunSign:</label>
        <select class="form-control" id="sel1" name="sign">
          <option>Choose One</option>
          <option>Aquarius</option>
          <option>Aries</option>
          <option>Cancer</option>
          <option>Capricorn</option>
          <option>Gemini</option>
          <option>Leo</option>
          <option>Libra</option>
          <option>Pisces</option>
          <option>Sagittarius</option>
          <option>Scorpio</option>
          <option>Taurus</option>
          <option>Virgo</option>
        </select>
    </div>

    <button>Create account</button>

    <% if (typeof message != "undefined") { %>
      <div class="error-message"><%= message %></div>
    <% } %>
  <p class="account-message">
    Don't have an account? <a href="/login" class = "link">Log in</a>
  </p>
</form>
</div>