<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Signs</title>
</head>
<body>
        <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="#">Horoscope</a>
                  </div>
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/signs">Signs</a></li>
                    <li><a href="/comments">Comments</a></li>
                    <li><a href="#">About</a></li>
                  </ul>
                </div>
              </nav>
    <div class="row">
        <a href = "/"><img src="/images/aquarius.gif" class="col-sm-4" style="width:300px;height:250px;"></a>
        <a href = "/"><img src="/images/aries.gif" class="col-sm-4" style="width:300px;height:250px;"></a>
        <a href = "/"><img src="/images/leo.gif" class="col-sm-4" style="width:300px;height:250px;"></a>
        <a href = "/"><img src="/images/taurus.gif" class="col-sm-4" style="width:300px;height:250px;"></a>
        <a href = "/"><img src="/images/aries.gif" class="col-sm-4" style="width:300px;height:250px;"></a>
        <a href = "/"><img src="/images/cancer.gif" class="col-sm-4" style="width:300px;height:250px;"></a>
        <a href = "/"><img src="/images/capricorn.gif" class="col-sm-4" style="width:300px;height:250px;"></a>
        <a href = "/"><img src="/images/gemini.gif" class="col-sm-4" style="width:300px;height:250px;"></a>
        <a href = "/"><img src="/images/libra.gif" class="col-sm-4" style="width:300px;height:250px;"></a>
        <a href = "/"><img src="/images/pisces.gif" class="col-sm-4" style="width:300px;height:250px;"></a> 
        <a href = "/"><img src="/images/scorpio.gif" class="col-sm-4" style="width:300px;height:250px;"></a>
        <a href = "/"><img src="/images/virgo.gif" class="col-sm-4" style="width:300px;height:250px;"></a>         
    </div>
</body>
</html>