
        <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="#">Horoscope</a>
                  </div>
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/signs">Signs</a></li>
                    <li><a href="/comments">Comments</a></li>
                  </ul>
                </div>
              </nav>
      <div class="row2">
        <a href = "horoscopes/signs/aquarius"><img src="/images/aquarius.png" class="col-sm-4 imgs" style="width:250px;height:230px;"></a>
        <a href = "horoscopes/aries"><img src="/images/aries.png" class="col-sm-4 imgs" style="width:250px;height:230px;"></a>
        <a href = "horoscopes/leo"><img src="/images/leo.png" class="col-sm-4 imgs" style="width:250px;height:230px;"></a>
        <a href = "horoscopes/taurus"><img src="/images/taurus.png" class="col-sm-4 imgs" style="width:250px;height:230px;"></a>
      </div>
      <div class="row3">
        <a href = "horoscopes/aries"><img src="/images/aries.png" class="col-sm-4 imgs" style="width:250px;height:230px;"></a>
        <a href = "horoscopes/cancer"><img src="/images/cancer.png" class="col-sm-4 imgs" style="width:250px;height:230px;"></a>
        <a href = "horoscopes/capricorn"><img src="/images/capricorn.png" class="col-sm-4 imgs" style="width:250px;height:230px;"></a>
        <a href = "horoscopes/gemini"><img src="/images/gemini.png" class="col-sm-4 imgs" style="width:250px;height:230px;"></a>
      </div>
      <div class="row4">
        <a href = "horoscopes/libra"><img src="/images/libra.png" class="col-sm-4 imgs" style="width:250px;height:230px;"></a>
        <a href = "horoscopes/pisces"><img src="/images/pisces.png" class="col-sm-4 imgs" style="width:250px;height:230px;"></a> 
        <a href = "horoscopes/scorpio"><img src="/images/scorpio.png" class="col-sm-4 imgs" style="width:250px;height:230px;"></a>
        <a href = "horoscopes/virgo"><img src="/images/virgo.png" class="col-sm-4 imgs" style="width:250px;height:230px;"></a>
      </div>         
