<form action="/horoscope/<%= horoscope._id %>" method="POST">

    <label for="comments">Comments</label>
    <textarea type="text" name="comments" id="comments" value="<%= horoscope.comments%>"></textarea>
  
    <button type="submit">Update Horoscope</button>
</form>