<form action="/horoscopes/<% horoscope.id %>/comments" method="post">
    <label for="content">Content:</label>
    <input id="content" type="textfield" name="content">
  
    <input type="submit" value="Submit">
</form>