<h1><%= horoscope.horoscopes %></h1>
<h3>horoscope:<span>$<%= horoscope.horoscope %></span></h3>
    <h2>Comments</h2>
    <ul>
      <% horoscope.comments.forEach((comments) => { %>
        <li>
            <p><%= comments.content %></p>
        </li>
      <% }); %>
    </ul>

